In [4]:
import pandas as pd

## load data
df = pd.read_csv('./results/FUBC_1_to_9_data.csv')

## filter for the FUBC_report_number == 9
wave_9 = df[df['FUBC_report_number'] == 9]
wave_9.describe()

,FUBC_report_number,Year_FUBC_publication,Crop_area_k_ha,N_k_t,P2O5_k_t,K2O_k_t,N_P2O5_K2O_k_t,N_rate_kg_ha,P2O5_rate_kg_ha,K2O_rate_kg_ha,N_pc_fert,P2O5_pc_fert,K2O_pc_fert,Aver_N_rate_kg_ha,Aver_P2O5_rate_kg_ha,Aver_K2O_rate_kg_ha,Aver_N_P2O5_K2O_rate_kg_ha
count,753.0,753.0,753.000000,753.000000,753.000000,753.000000,753.000000,0.0,0.0,0.0,0.0,0.0,0.0,753.000000,753.000000,753.000000,753.000000
mean,9.0,2022.0,2288.134485,137.396617,65.390818,51.713912,254.501347,NaN,NaN,NaN,NaN,NaN,NaN,82.711155,36.303501,37.508446,156.523102
std,0.0,0.0,13098.752212,576.005021,323.557926,266.682426,1113.613138,NaN,NaN,NaN,NaN,NaN,NaN,66.660028,38.734149,45.969124,129.667793
min,9.0,2022.0,0.003000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,9.0,2022.0,45.201000,2.040000,0.890237,0.647017,4.240931,NaN,NaN,NaN,NaN,NaN,NaN,30.000000,12.749316,6.000000,63.021926
50%,9.0,2022.0,235.848000,13.000000,4.864000,3.487003,24.828000,NaN,NaN,NaN,NaN,NaN,NaN,73.952646,25.029090,22.000000,127.199492
75%,9.0,2022.0,1032.598000,60.428765,25.900000,19.232000,111.227978,NaN,NaN,NaN,NaN,NaN,NaN,121.478783,47.019224,51.797470,225.000000
max,9.0,2022.0,327589.000000,7081.180800,4645.410344,3540.355210,14723.234585,NaN,NaN,NaN,NaN,NaN,NaN,444.000000,412.766432,335.072149,861.519100

In [5]:
## show list of countries in wave 9
print(wave_9['Country'].unique())
print(wave_9['Country'].nunique())

['Argentina' 'Australia' 'Austria' 'Bangladesh' 'Belarus' 'Belgium'
 'Bolivia (Plurinational State of)' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Canada' 'Chile' 'China' 'Croatia' 'Cyprus' 'Czech Republic' 'Denmark'
 'Egypt' 'Estonia' 'Finland' 'France' 'Germany' 'Greece' 'Hungary' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Ireland' 'Israel' 'Italy'
 'Japan' 'Latvia' 'Lithuania' 'Malaysia' 'Mali' 'Mexico' 'Morocco'
 'Myanmar' 'Netherlands' 'New Zealand' 'Nigeria' 'Norway' 'Pakistan'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Romania'
 'Russian Federation' 'Senegal' 'Slovakia' 'Slovenia' 'South Africa'
 'Spain' 'Sweden' 'Thailand' 'Turkey' 'Ukraine'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Viet Nam']
64

In [6]:
print(wave_9["Crop"].unique())
print(wave_9["Crop"].nunique())

['Fruit primary and citrus fruits and treenuts' 'Grassland' 'Maize'
 'Other cereals' 'Residual' 'Rice' 'Roots/tubers' 'Soybeans' 'Sugar cane'
 'Wheat' 'Cottonseed' 'Other oil crops' 'Maize green' 'Pulses' 'Rapeseed'
 'Sugar beet' 'Vegetables' 'Coffee green' 'Tea' 'Oil palm']
20

In [7]:
## show descriptives for Nan values in wave 9
print(wave_9.isna().sum())

Original_country_name_in_FUBC_report      0
Country                                   0
ISO3_code                                 0
Region_IFA                                0
Year                                      0
FUBC_report_number                        0
Year_FUBC_publication                     0
Crop                                      0
Crop_area_k_ha                            0
N_k_t                                     0
P2O5_k_t                                  0
K2O_k_t                                   0
N_P2O5_K2O_k_t                            0
N_rate_kg_ha                            753
P2O5_rate_kg_ha                         753
K2O_rate_kg_ha                          753
N_pc_fert                               753
P2O5_pc_fert                            753
K2O_pc_fert                             753
Aver_N_rate_kg_ha                         0
Aver_P2O5_rate_kg_ha                      0
Aver_K2O_rate_kg_ha                       0
Aver_N_P2O5_K2O_rate_kg_ha                0
dtype: int64